<div class="col-sm-5 p-4 mx-auto">
    <h5>{{isEditing?"Edit":"Add"}} Account</h5>
    
    <p class="alert alert-danger p-3 fw-bold" *ngIf="errMsg">
        {{errMsg}}
    </p>

    <form (ngSubmit)="save()" #f="ngForm">
        <div>
            <label>Account Holder Id:</label>
            <input type="number" name="aid" [(ngModel)]="account.id" #aid="ngModel" [readonly]="isEditing" class="form-control" required/>
            <div class="alert alert-danger p-2" *ngIf="aid.invalid && (aid.touched || aid.dirty)">
                <p>Account Id can not be left blank</p>
            </div>
        </div>
        <div>
            <label>First Name</label>
            <input type="text" name="fnm" [(ngModel)]="account.firstName" #fnm="ngModel" class="form-control" required/>
            <div class="alert alert-danger p-2" *ngIf="fnm.invalid && (fnm.touched || fnm.dirty)">
                <p>First name can not be left blank</p>
            </div>
        </div>
        <div>
            <label>Last Name</label>
            <input type="text" name="lnm" [(ngModel)]="account.lastName" #lnm="ngModel" class="form-control" required/>
            <div class="alert alert-danger p-2" *ngIf="lnm.invalid && (lnm.touched || lnm.dirty)">
                <p>Last name can not be left blank</p>
            </div>
        </div>
        <div>
            <label>Mobile</label>
            <input type="text" name="mob" [(ngModel)]="account.mobile" #mob="ngModel" class="form-control" required pattern="[1-9][0-9]{9}"/>
            <div class="alert alert-danger p-2" *ngIf="mob.invalid && (mob.touched || mob.dirty)">
                <p *ngIf="mob.errors!['required']">Mobile can not be left blank</p>
                <p *ngIf="mob.errors!['pattern']">Mobile is expected to be a 10 digit number</p>
            </div>
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-primary" [disabled]="f.invalid">SAVE</button>
        </div>
    </form>
</div>
